target
.idea
.vscode
.settings
.project
.factorypath
*.iml
service/.project
service/.classpath
api/.project
api/.classpath
/frontend/node_modules/
/frontend/dist/
/frontend/build/
/frontend/node/
/database/
/servers/
/.jpb/
